body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    margin-bottom: 25px;
    max-width: 100%;
    font-size: 125%;
    top: 0;
    position: sticky;
    z-index: 1000;
}

nav{
    display: flex;
    align-items: center;
}

main, section, article, footer{
    padding: 10px;
    margin: 10px;
}

main{
    background-color: rgb(163, 163, 163);
    border-radius: 10px;
    margin-bottom: 40px;
    max-width: 100%;
    position: relative;

}

section, article{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    margin-bottom: 25px;
    max-width: 100%;
    position: absolute; 
    box-sizing: border-box;
}

article{
    background-color: rgb(245, 245, 245);
}

footer{
    background-color: beige;
    border-radius: 10px;
    bottom: 0;
}

@media (min-width: 320px) and (max-width: 480px){

    body{
        font-size: 14px;
    }

    nav{
        flex-direction: column;
        font-size: 90%;
    }

    header, main, section, article, footer{
        padding: 8px;
        margin: 8px;
    }

    section, article{
        position: static;
    }
}

@media (min-width: 481px) and (max-width: 768px){

    body{
        font-size: 16px;
    }

    nav{
        flex-direction: column;
        font-size: 100%;
    }

    section, article{
        width: 45%;
        position: relative;
    }

    section:nth-of-type(2){
        left: 49%;
        top: 10px;
        padding: 4%;
        position: absolute;
    }

    article:nth-of-type(2){
        left: 50%;
        top: 386px;
        padding: 4%;
        position: absolute;
    }

    header, main, section, article, footer{
        padding: 10px;
        margin: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){

    body{
        font-size: 16px;
    }
    
    nav{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        font-size: 100%;
        position: static;
    }

    section, article{
        width: 22%;
        position: relative;
        margin-bottom: 10%;
    }

    section:nth-of-type(1){
        top: 10px;
        left: 0;
    }

    section:nth-of-type(2) {
        top: 20px;
        left: 25%;
        position: absolute  ;
    }

    article:nth-of-type(1) {
        top: 20px;
        left: 50%;
        position: absolute;
    }

    article:nth-of-type(2) {
        top: 20px;
        left: 75%;
        position: absolute;
    }

    footer{
        position: fixed;
    }
}